input{
    field-sizing: content;
}

.label-input{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 4px;
}

.row{
    display: flex;
    flex-direction: row;
    gap:8px;
    width: fit-content;
    height: fit-content;
}

.col{
    display: flex;
    flex-direction: column;
    gap:8px;
    width: fit-content;
    height: fit-content;
}

body{
    display: flex;  
    flex-direction: column;
    gap: 24px;
    width: fit-content;
}

legend{
    font-weight: 600;
    font-size: 1.2rem;
}

.label{
    font-size: 0.9rem;
}

*{
    font-family: "Fira Sans", "Inter", arial;
}

html{
  width: fit-content;
}

.checkbox-input{
    display: flex;
    gap: 40x;
    align-items: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  padding: 8px;
  font-size: 12px;
}

.tooltiptext.pos-left{
  top: -5px;
  right: 105%;
}

.tooltiptext.pos-right{
  top: -5px;
  left: 105%;
}

.tooltiptext.pos-top{
  width: 130px;
  bottom: 100%;
  left: 65%;
  margin-left: -65px;
}

.tooltiptext.pos-bottom{
  width: 130px;
  top: 100%;
  left: 50%;
  margin-left: -65px;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltipimage{
  width: 100%;
}